{{define "map"}}

<html>
  <head>
    <title>fdb.serfr1.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/fdb.css">
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
      #legend,#details,#notes {
        background: white;
        margin: 0.8em;
        padding: 0.8em;
      }
    </style>
    <link rel="icon" type="image/png" href="/static/icon.png" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>

  <body>
    <div id="map"></div>
    <div id="legend"></div>
    <div id="details"></div>
    <div id="notes"></div>
    <script type="text/javascript">
      {{template "js-map" . }}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{.MapsAPIKey}}&callback=initMap&libraries=drawing,geometry,visualization">
    </script>
  </body>
</html>

{{end}}
