{{define "/fdb/privacy"}}

<html>
  {{template "header"}}
  <body>
    <h1>The SFO/SJC/OAK flight database : Privacy Policy</h1><p/>

    <div class="stack">
      
      <p>This website uses OAuth2 against Google to authenticate
      users. It does not retrieve any information from your Google
        account except your email address.</p>

      <p>This website uses a cookie so that it knows you have logged
        into it. No other use is made of this cookie.</p>

      <p>The only user data stored on this website are the 'shape
      georestrictions' that users can create to do flight searches
      against. These are stored by the website, and can only be
      accessed by the user who created them. In the future, perhaps
      other data will be stored - e.g. custom waypoint
      definitions.</p>

    </div>
  </body>
</html>

{{end}}
