{{define "/fdb/home"}}

<html>
  {{template "header"}}
  <body>
    <h1>The SFO/SJC/OAK flight database</h1><p/>

    <div class="stack">
      
      <p>Welcome to the SFO/SJC/OAK flight database ! This system
      stores historical flight path data for the NorCal metroplex,
      going back to 2015 or so.</p>

      <p>The site's privacy policy is <a href="/fdb/privacy">here</a>.</p>

      <p>Instructions for the search tool are in this google doc:
        <a href="https://goo.gl/2MVVSU">https://goo.gl/2MVVSU</a></p>

      <p>To get started, go here - <a href="/report">/report</a></p>
      
    </div>
  </body>
</html>

{{end}}
