{{define "restrictors-gr-edit-form"}}

<script>
function ShowSubform(val) {
    subforms = ['squarebox','verticalplane','polygon']
    for (var i = 0; i < subforms.length; i++) {
        if (subforms[i] != val) {
            document.getElementById(subforms[i]).style.display = 'none';
        } else {
            document.getElementById(val).style.display = 'block';
        }
    }
}
window.onload = function() {
  ShowSubform({{.gr_type}});
};

// This function is just for the polygon UI
// But it is useless, as the nll widget executes at template render time :/
// Could maybe pre-render but hide, as per style="display:block", and reveal dynamically -
// but would need to not hide default data for pre-existing polygons.
function AddPolyPoint() {
    var n = document.getElementById("points").childElementCount;
    console.log("Oh, we saw"+n+" points");
    var newp = document.createElement('p');
    newp.innerHTML = "foo bar";
    document.getElementById("points").appendChild(newp)
}

</script>

<div><p>
    <b> Restrictor Type: </b>
    <select name="gr_type" onchange="ShowSubform(this.value);">
      <option value="" {{if .gr_type | eq ""}}selected="1"{{end}}>(choose)</option>
      <option value="squarebox" {{if .gr_type | eq "squarebox"}}selected="1"{{end}}>
        Square Box</option>
      <option value="verticalplane"{{if .gr_type | eq "verticalplane"}}selected="1"{{end}}>
        Vertical Plane</option>
      <option value="polygon"{{if .gr_type | eq "polygon"}}selected="1"{{end}}>
        Arbitrary Polygon</option>
    </select>
  </p>
  <br/>
</div>

<div id="squarebox">
  <table>
    <tr>
      <td>Center</td>
      <td>{{template "widget-waypoint-or-pos" nlldict "sb_center" . }}
    </tr>
    <tr>
      <td>Side KM</td>
      <td>
        <input type="text" name="sb_sidekm" value={{if .sb_sidekm}}"{{.sb_sidekm}}"{{else}}"1"{{end}}/>
      </td>
    </tr>
    <tr>
      <td>Altitude</td>
      <td>
        Min:<input type="text" size="8" name="sb_altmin" value="{{if .sb_altmin}}{{.sb_altmin}}{{end}}"/>, 
        Max:<input type="text" size="8" name="sb_altmax" value="{{if .sb_altmax}}{{.sb_altmax}}{{end}}"/>
        (in feet; zero for no limit)
      </td>
    </tr>
    <tr>
      <td>Exclusion</td>
      <td>
        <input type="checkbox" name="sb_isexcluding" {{if .sb_isexcluding}}checked="yes"{{end}}>
        (invert logic; flights must not intersect)
      </td>
    </tr>
  </table>
</div>

<div id="verticalplane">
  <table>
    <tr>
      <td>Start</td>
      <td>{{template "widget-waypoint-or-pos" nlldict "vp_start" . }}
    </tr>
    <tr>
      <td>End</td>
      <td>{{template "widget-waypoint-or-pos" nlldict "vp_end" . }}
    </tr>
    <tr>
      <td>Altitude</td>
      <td>
        Min:<input type="text" size="8" name="vp_altmin" value="{{if .vp_altmin}}{{.vp_altmin}}{{end}}"/>, 
        Max:<input type="text" size="8" name="vp_altmax" value="{{if .vp_altmax}}{{.vp_altmax}}{{end}}"/>
        (in feet; zero for no limit)
      </td>
    </tr>
    <tr>
      <td>Exclusion</td>
      <td>
        <input type="checkbox" name="vp_isexcluding" {{if .vp_isexcluding}}checked="yes"{{end}}>
        (invert logic; flights must not intersect)
      </td>
    </tr>
  </table>
</div>

<div id="polygon" style="text-align:left">
  <p>Add vertices in order, clockwise. Concavity is OK. After you save, view it on the map to see what it looks like.</p><br/>
  <div class="box">
    <div id="points">
      <p>Vertex 1: {{template "widget-waypoint-or-pos" nlldict "poly_p1" . }}</p>
      <p>Vertex 2: {{template "widget-waypoint-or-pos" nlldict "poly_p2" . }}</p>
      <p>Vertex 3: {{template "widget-waypoint-or-pos" nlldict "poly_p3" . }}</p>
      <p>Vertex 4: {{template "widget-waypoint-or-pos" nlldict "poly_p4" . }}</p>
      <p>Vertex 5: {{template "widget-waypoint-or-pos" nlldict "poly_p5" . }}</p>
      <p>Vertex 6: {{template "widget-waypoint-or-pos" nlldict "poly_p6" . }}</p>
      <p>Vertex 7: {{template "widget-waypoint-or-pos" nlldict "poly_p7" . }}</p>
      <p>Vertex 8: {{template "widget-waypoint-or-pos" nlldict "poly_p8" . }}</p>
      <p>Vertex 9: {{template "widget-waypoint-or-pos" nlldict "poly_p9" . }}</p>
    </div>


    <!-- <p><a id="small_ro_button" class="fakebutton" href="#" onclick="AddPolyPoint();">ADD POINT</a></p> -->
  </div><br/><br/>
  
  <p>Altitude limits:
    <input type="text" size="8" name="poly_altmin"
           value="{{if .poly_altmin}}{{.poly_altmin}}{{end}}"/>, to
    <input type="text" size="8" name="poly_altmax"
           value="{{if .poly_altmax}}{{.poly_altmax}}{{end}}"/>(in feet; zero for no limit)</p>

  <p>Exclusion logic:
    <input type="checkbox" name="poly_isexcluding" {{if .poly_isexcluding}}checked="yes"{{end}}>
    (invert logic; flights must not intersect)
    </p>
</div>

{{end}}
