{{define "restrictors-gr-edit-form"}}

<script>
function ShowSubform(val) {
    subforms = ['squarebox','verticalplane']
    for (var i = 0; i < subforms.length; i++) {
        if (subforms[i] != val) {
            document.getElementById(subforms[i]).style.display = 'none';
        } else {
            document.getElementById(val).style.display = 'block';
        }
    }
}
window.onload = function() {
  ShowSubform({{.gr_type}});
};
</script>

<div><p>
    <b> Restrictor Type: </b>
    <select name="gr_type" onchange="ShowSubform(this.value);">
      <option value="" {{if .gr_type | eq ""}}selected="1"{{end}}>(choose)</option>
      <option value="squarebox" {{if .gr_type | eq "squarebox"}}selected="1"{{end}}>
        Square Box</option>
      <option value="verticalplane"{{if .gr_type | eq "verticalplane"}}selected="1"{{end}}>
        Vertical Plane</option>
    </select>
  </p>
  <br/>
</div>

<div id="squarebox">
  <table>
    <tr>
      <td>Center</td>
      <td>{{template "widget-waypoint-or-pos" nlldict "sb_center" . }}
    </tr>
    <tr>
      <td>Side KM</td>
      <td>
        <input type="text" name="sb_sidekm" value={{if .sb_sidekm}}"{{.sb_sidekm}}"{{else}}"1"{{end}}/>
      </td>
    </tr>
    <tr>
      <td>Altitude</td>
      <td>
        Min:<input type="text" size="8" name="sb_altmin" value="{{if .sb_altmin}}{{.sb_altmin}}{{end}}"/>, 
        Max:<input type="text" size="8" name="sb_altmax" value="{{if .sb_altmax}}{{.sb_altmax}}{{end}}"/>
        (in feet; zero for no limit)
      </td>
    </tr>
    <tr>
      <td>Exclusion</td>
      <td>
        <input type="checkbox" name="sb_isexcluding" {{if .sb_isexcluding}}checked="yes"{{end}}>
        (invert logic; flights must not intersect)
      </td>
    </tr>
  </table>
</div>

<div id="verticalplane">
  <table>
    <tr>
      <td>Start</td>
      <td>{{template "widget-waypoint-or-pos" nlldict "vp_start" . }}
    </tr>
    <tr>
      <td>End</td>
      <td>{{template "widget-waypoint-or-pos" nlldict "vp_end" . }}
    </tr>
    <tr>
      <td>Altitude</td>
      <td>
        Min:<input type="text" size="8" name="vp_altmin" value="{{if .vp_altmin}}{{.vp_altmin}}{{end}}"/>, 
        Max:<input type="text" size="8" name="vp_altmax" value="{{if .vp_altmax}}{{.vp_altmax}}{{end}}"/>
        (in feet; zero for no limit)
      </td>
    </tr>
    <tr>
      <td>Exclusion</td>
      <td>
        <input type="checkbox" name="vp_isexcluding" {{if .vp_isexcluding}}checked="yes"{{end}}>
        (invert logic; flights must not intersect)
      </td>
    </tr>
  </table>
</div>
{{end}}
